@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dash {
  to {
    stroke-dashoffset: 20px;
    /* Change the value to adjust dash distance */
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
}